@import url('src/style/reset/reset.scss');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/** common **/

.cp {
    cursor: pointer;
}

/** layout **/

.container{
    max-width: 1104px;
    margin: 0 auto;
}

/** display **/

.jcsb {
    display: flex;
    justify-content: space-between;
}

.flex-col{
    display: flex;
    flex-direction: column;
}

.flex{
    display: flex;
}
